@font-face {
  font-family: Norse-Bold;
  src: url(font/Norse-Bold.otf);
}

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: repeat(3, 33.1vh);
  margin: 0;
  padding: 0;
}
div {
  width: 100%;
  height: 100%;
}

.leftBlock {
  grid-row: 1/4;
  position: relative;
  top: 0;
  right: 0;
  background-color: black;
}

.picture1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
}
.innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(150%);

  width: 100%;
  height: 15%;

  background-color: rgba(0, 0, 0, 0.5);
}

.picture2 {
  position: relative;
  height: 100%;
  object-fit: contain;
}

.innerWrapper h1 {
  color: white;
  font-family: Norse-Bold;
  font-size: 10vh;
  margin: 0;
}

.block1,
.block3 {
  background-color: #f9fafb;
}

/* .block1,.block2,
.block3{
display: block;
width: 100%;
height: 100%;
} */

.block1 {
  font-weight: 600;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.block1 p {
  margin: 4em 2em;
  /* margin-right: 16em; */
  font-size: 2vh;
  width: 75ch;
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: auto;
  height: auto;

  margin-right: 7rem;
  border: #596d48 3px solid;
}
.formWrapper div,h1 {
  margin: 2rem 2rem;
}

input,
label {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
 

}

.italics {
  font-style: italic;
}

a {
  color: #596d48;
  text-decoration: none;
  font-weight: 600;
}
