@font-face {
  font-family: Norse-Bold;
  src: url(font/Norse-Bold.otf);
}
/* @media (max-height: 900px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, 33.1vh);
  }
} */

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: repeat(3, 33.1vh);
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}
/* div {
  width: 100%;
  height: 100%;
} */
.leftBlock,
.block1,
.block2,
.block3,
.innerWrapper,
.wrapper {
  width: 100%;
  height: 100%;
}
.leftBlock {
  grid-row: 1/4;
  position: relative;
  top: 0;
  right: 0;
  background-color: black;
}

.picture1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
}
.innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(150%);

  width: 100%;
  height: 15%;

  background-color: rgba(0, 0, 0, 0.5);
}

.picture2 {
  position: relative;
  height: 100%;
  object-fit: contain;
}

.innerWrapper h1 {
  color: white;
  font-family: Norse-Bold;
  font-size: 10vh;
  margin: 0;
}

.block1 {
  font-weight: 600;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.block1 p {
  margin: 4em 1em;
  font-size: 2vh;
  width: 75ch;
}
.block2 {
  box-shadow: 0px 5px 10px #888888;
  background-color: white;
}

form {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 80%;
  height: 80%;

  margin-left: 2em;
  max-width: 900px;
}
.errorMessage{
color: red;
}

h1 {
  margin-left: 2rem;
}

input,
label {
  display: flex;
  flex-direction: column;
  height: 25px;
  width: 80%;
  font-size: 1rem;
  font-weight: 700;
  color: #585858;
  letter-spacing: 0.1rem;
}

input {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

input:valid {
  outline: none;
  box-shadow: 2px 2px 5px black;
  border: 2px solid #0080ff;
}

.postInput:invalid {
  outline: none;
  box-shadow: 2px 2px 5px black;
  border: 2px solid red;
} 

input:invalid:focus {
  outline: none;
  box-shadow: 2px 2px 5px black;
  border: 2px solid red;
}

input:valid:focus {
  outline: none;
  box-shadow: 2px 2px 5px black;
  border: 2px solid green;
}

.italics {
  font-style: italic;
}

a {
  color: #596d48;
  text-decoration: none;
  font-weight: 600;
}

.createAcc {
  background-color: #596d48;
  border-radius: 5px;
  color: white;
  width: 220px;
  height: 50px;
  border-style: none;
  font-size: large;
  font-weight: 700;
  margin-bottom: 1rem;
}

.accCreate {
  margin: 4rem 2rem;
}
